[Unit]
Description=TV LED Monitor - Auto start/stop LEDs based on TV state
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/tv-backlight
ExecStart=/bin/bash /home/pi/tv-backlight/auto_run_with_tv.sh
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
